{% extends 'base.html.twig' %}

{% block title %}Reset hasła{% endblock %}

{% block body %}
    <main class="card">
        <h1>Reset hasła</h1>
        <form method="post">
            <label>Email</label>
            <input type="email" name="email" required>
            <button type="submit">Wyślij link resetujący</button>
        </form>
    </main>
{% endblock %}
