{% extends 'base.html.twig' %}

{% block title %}Nowe hasło{% endblock %}

{% block body %}
    <main class="card">
        <h1>Ustaw nowe hasło</h1>
        <form method="post">
            <label>Nowe hasło</label>
            <input type="password" name="password" required minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Minimum 8 znaków, co najmniej 1 wielka i mała litera oraz 1 cyfra">
            <button type="submit">Zapisz hasło</button>
        </form>
    </main>
{% endblock %}
