{% extends 'base.html.twig' %}

{% block title %}Nowe hasło{% endblock %}

{% block body %}
    <main class="card">
        <h1>Ustaw nowe hasło</h1>
        <form method="post">
            <label>Nowe hasło</label>
            <input type="password" name="password" required minlength="8">
            <button type="submit">Zapisz hasło</button>
        </form>
    </main>
{% endblock %}
