/.idea/
/.vscode/
/.phpunit.result.cache

/app/.env.local
/app/.env.local.php
/app/.env.*.local

/app/var/*
!/app/var/cache/
!/app/var/log/
!/app/var/sessions/
!/app/var/cache/.gitkeep
!/app/var/log/.gitkeep
!/app/var/sessions/.gitkeep

/app/vendor/

/app/public/bundles/
