{% extends 'base.html.twig' %}

{% block title %}SpotRace - panel{% endblock %}

{% block body %}
    <main class="card">
        <h1>Witaj, {{ user ? user.name : 'gościu' }}!</h1>
        <p>Jesteś zalogowany do aplikacji.</p>
        <p>Twoje role: {{ user ? user.roles|join(', ') : '' }}</p>
    </main>
{% endblock %}
