{% extends 'base.html.twig' %}

{% block title %}SpotRace - Symfony 6.4{% endblock %}

{% block body %}
    <main class="card">
        <h1>Symfony 6.4 LTS + Twig + MySQL</h1>
        <p>Środowisko developerskie jest gotowe w Docker Compose.</p>
        <p>Uruchom: <code>docker compose up --build</code></p>
    </main>
{% endblock %}
